<div class="calculator">

  <div class="screen">
    <div class="result">{{ display }}</div>
  </div>

  <div class="keyboard">
    <div class="keyboard-row">
      <div class="key">7</div>
      <div class="key">8</div>
      <div class="key">9</div>
      <div class="key">*</div>
    </div>
    <div class="keyboard-row">
      <div class="key">4</div>
      <div class="key">5</div>
      <div class="key">6</div>
      <div class="key">/</div>
    </div>
    <div class="keyboard-row">
      <div class="key">1</div>
      <div class="key" (click)="keyClicked('2')">2</div>
      <div class="key" (click)="keyClicked('3')">3</div>
      <div class="key">+</div>
    </div>
    <div class="keyboard-row">
      <div class="key">.</div>
      <div class="key">0</div>
      <div class="key" (click)="reset()">=</div>
      <div class="key">-</div>
    </div>

</div>
